DATABASE_URL=
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# SONGFINDER API URLS
ANIMETHEMES_API_URL=https://beta.animethemes.moe/api/animetheme
ANISONGDB_API_URL=https://anisongdb.com/api
AMQ_FILE_URL=https://naedist.animemusicquiz.com