.buttonComponent{
  background-color: $primaryColor;
  color: $darkTextPrimary;

  @include dark{
    background-color: $secondaryColor;
    color: #333333;
    
    svg > *{
      color: #333333;
    }
  }

  height: 35px;
  width: 100%;
  
  border: none;
  border-radius: .5rem;

  font-size: 1.1rem;

  cursor: pointer;
}