.buttonComponent{
  background-color: $primaryColor;
  color: $darkTextPrimary;

  @include dark{
    // background-color: $secondaryColor;
    background-color: #238636;
    color: #fff;
    
    svg > *{
      color: #fff;
    }
  }

  height: 35px;
  width: 100%;
  
  border: none;
  border-radius: .4rem;

  font-size: 1.1rem;

  cursor: pointer;
}