.formRegister{
  .inputPass{
    width: 100%;
    display: flex;
    justify-content: space-between;
    // margin-top: 25px;

    .inputGroup{
      width: 48%;
    }
  }

  .buttonSignup{
    margin-top: 25px;
  }
}