$primaryColor: #800080;
// $secondaryColor: #00FF00;
$secondaryColor: #44d62c;

$darkBackground: #333333;
$darkSecondBackground: #222222;
$darkTextPrimary: #cccccc;

$lightBackground: #f5f5f5;
$lightSecondBackground: #CCCCCC;
$lightTextPrimary: #333333;

$divisorColor: transparentize(rgba(#6b717f, 0.5), 0.2);
$linkColor: #1f6feb;

$notebook-width: 1366px;

:export {
  primaryColor: $primaryColor;
  secondaryColor: $secondaryColor;

  darkBackground: $darkBackground;
  darkSecondBackground: $darkSecondBackground;
  darkTextPrimary: $darkTextPrimary;

  lightBackground: $lightBackground;
  lightSecondBackground: $lightSecondBackground;
  lightTextPrimary: $lightTextPrimary;
}