:export {
  primaryColor: $primaryColor;
  secondaryColor: $secondaryColor;
  primaryColorHover: $primaryColorHover;
  secondaryColorHover: $secondaryColorHover;
  darkBackground: $darkBackground;
  darkSecondBackground: $darkSecondBackground;
  darkTextPrimary: $darkTextPrimary;

  lightBackground: $lightBackground;
  lightSecondBackground: $lightSecondBackground;
  lightTextPrimary: $lightTextPrimary;
}