.votePage {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-areas: "video video video video"
    "info info aside aside"
  ;
  grid-template-columns: 2fr 2fr 1fr 1fr;

  .video {
    grid-area: video;
    display: flex;
    justify-content: center;
    background-color: black;

    @include dark {
      background-color: black;
    }

    iframe {
      border: none;
      height: 640px;
      aspect-ratio: 16/9;

    }
  }

  .left {
    grid-area: info;
    grid-column: 2fr;

    padding: 0px 10px 0px 20px;

    margin-top: 10px;

    // box-sizing: border-box;

    span {
      font-weight: bold;
      font-size: 1.5rem;
    }

    .inputsvote {
      padding-top: 20px;
      display: flex;
      align-items: flex-end;

      .inputGroup {
        width: 30%;

        &:not(:first-child) {
          margin-left: 20px;
        }
      }

      button {
        width: 20%;
        height: 40px;
        margin-left: 20px;

        background-color: $primaryColor;

        @include dark {
          background-color: $secondaryColor;
          color: white;
        }
      }
    }
  }

  .aside {
    grid-area: aside;

    h2 {
      padding: .5rem 0px 0px 1rem;
    }

    .list {
      display: block;
      height: 600px;
      max-height: 600px;
      overflow: auto;
      width: 90%;
      // border: 1px solid blue;
      padding: 10px 1rem 1rem 1rem;

      .table {
        width: 100%;

        .cell {
          width: 100%;
          cursor: pointer;
          .info {
            max-width: 100%;

            &>span {
              font-size: 1.5rem;
              width: 100%;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }

          }
        }
      }

      // background-color: $darkSecondBackground;
    }
  }


}