@import '../../styles/mixins.scss';

$heightNav: 80px;

nav {
  display: flex;

  align-items: flex-end;
  background-color: $lightSecondBackground;
  height: $heightNav;

  font-size: larger;

  padding: 1rem 1rem 0px 4rem;

  border-bottom: 2px solid $primaryColor;

  @include dark {
    background-color: $darkSecondBackground;
    border-bottom: 2px solid $secondaryColor;
  }

  .actions {
    margin-left: auto;
    display: flex;
    margin-bottom: 10px;

    .icon {
      margin-left: 10px;
    }
  }

  .user {
    display: flex;

    width: 300px;
    height: 100%;
    margin-bottom: 5px;

    .info {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;

      .user {
        color: $lightTextPrimary;

        @include dark {
          color: $darkTextPrimary;
        }
      }

      .avg {
        font-size: small;
      }
    }


    .pfp {
      height: 60px;
      width: 60px;
      margin-left: 20px;
      border-radius: 1rem;
      
      img{
        width: 100%;
        height: 100%;
        border-radius: 1rem;
      }
    }
  }

  .navItem {
    margin-inline: 30px;

    display: flex;
    align-items: flex-end;

    padding: 5px;

    $navItemWidth: 150px;

    width: $navItemWidth;
    justify-content: center;

    &.active {

      border-top: 2px solid $primaryColor;
      border-left: 2px solid $primaryColor;
      border-right: 2px solid $primaryColor;

      @include dark {
        border-top: 2px solid $secondaryColor;
        border-left: 2px solid $secondaryColor;
        border-right: 2px solid $secondaryColor;
      }

      margin-bottom: -2px;

      $borderRadiusActive: .3rem;

      border-top-left-radius: $borderRadiusActive;
      border-top-right-radius: $borderRadiusActive;

      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;

        bottom: 0;
        left: 0;
        width: ($navItemWidth - 4px);

        height: 2px;
        background-color: $lightSecondBackground;

        @include dark {
          background-color: $darkSecondBackground;
        }
      }
    }

    span {
      margin-left: 5px;
      display: flex;
      align-items: flex-end;
      color: $lightTextPrimary;

      @include dark {
        color: $darkTextPrimary;
      }
    }
  }
}