.content {
  min-height: 100vh;
  min-width: 100vh;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-areas: "top top top"
    "center center center"
  ;

  header {
    grid-area: top;
    text-align: end;
    height: 7vh;

    .icon {
      cursor: pointer;
      color: $lightTextPrimary;

      @include dark {
        color: $darkTextPrimary;
      }
    }
  }

  .main {
    grid-area: center;
    align-self: center;
    justify-self: center;
    height: 93vh;
    width: 100%;
  }
}