.profilePage {
  padding-left: 1rem;
  display: flex;
  height: 100%;

  .userCard {
    height: 95%;
    padding: 1rem;
    width: 20%;
    border-radius: 1rem;
    margin-top: 20px;
    
    background-color: $lightSecondBackground;

    @include dark {
      background-color: $darkSecondBackground;
    }

    .profilePicture {
      width: 100%;
      aspect-ratio: 1/1;
      text-align: center;
      margin-bottom: 20px;
      
      img {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }

      span {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 2rem;
      }
    }

    .formAnimeList {
      display: flex;
      flex-direction: column;

      .inputs {
        display: flex;
        justify-content: space-between;

        .inputGroup {
          width: 48%;
        }
      }

      .updateAnimeListButton {
        width: 30%;
        margin-top: 10px;
        margin-left: auto;
      }
    }

    .formPassword {
      display: flex;
      flex-direction: column;

      .inputGroup {
        margin-top: 10px;
      }

      .updatePasswordButton {
        width: 30%;
        margin-top: 10px;
        margin-left: auto;
      }
    }
  }

  .songSetsInviteDiv {
    width: 40%;
    padding: 1rem;

    h2 {
      margin-bottom: 10px;
    }

    .table {
      width: 100%;

      .cell{
        .actions{
          svg{
            cursor: pointer;
          }
        }
      }
    }
  }
}