.table-container {
  // width: 60%;
  height: 100%;

  .cell {
    height: 120px;

    @media (max-width: $notebook-width) {
      height: 100px;
    }


    @include mobile {
      height: 110px;
    }

    display: flex;
    justify-content: center;
      
    border-radius: .4rem;
    margin-bottom: 10px;
    padding: 10px;
    
    background-color: $lightSecondBackground;
    
    @include dark{
      background-color: $darkSecondBackground;
    }

    .info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: auto;


      &.edit{
        cursor: pointer;
      }
    }

    .actions{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      
      svg{
        margin-left: 10px;
      }
    }

    .song-anime-mobile{
      display: none;
    }

    @include mobile {
      .song-anime-mobile{
        display: block;
      }
    }

    .song-title {
      font-size: 2rem;
      @include mobile {
        font-size: 1rem !important;
      }
    }

    span {
      color: $primaryColor;
      
      @include dark{
        color: $secondaryColor;
      }
    }
    
    .extraInfo{
      display: flex;
      margin-top: 10px;
      
      @include mobile {
        display: none;

      }

      span{
        svg{
          height: 10px;
        }

        color: $lightTextPrimary;
        // font-size: 1rem;

        @media (max-width: $notebook-width) {
          font-size: .8rem !important;
        }

        @media (max-width: $tablet-width) {
          font-size: .4rem !important;
        }

        &:not(:first-child){
          margin-left: 20px;
        }

        @include dark{
          color: $darkTextPrimary;
        }
      }
    }


    // &:not(:first-child){
    // border-top: .0150rem solid $divisorColor ;

    // @include dark {
    //   border-top: .0150rem solid $divisorColor ;
    // }

    // }


  }
}