.home-table {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  margin-top: 10px;

  .table-home-song-sets {
    width: 100% !important;
    tbody {
      tr:last-child td:first-child {
        border-bottom-left-radius: 15px;
      }

      tr:last-child td:last-child {
        border-bottom-right-radius: 15px;
      }

      tr:first-child td:first-child {
        border-top-left-radius: 15px;
      }

      tr:first-child td:last-child {
        border-top-right-radius: 15px;
      }

      tr {
        height: 90px;

        td{
          height: 100%;
          div:first-child{
            height: 100%;
          }
        }

        &:hover {
          box-shadow: 0 0 10px 0 rgba(255,255,255, 0.1);
        }
        
        @include mobile {
          .score-td {
            display: none;
          }
          .user-td {
            display: none;
          }
        }

        .first-column {

          .title {
            font-size: 1.5rem;
            font-weight: 600;
            width: 100%;

            @include mobile {
              width: 50%;
            }

            // white-space: nowrap;
            // overflow: hidden !important;
            // text-overflow: ellipsis;
        
          }

          .songs {
            font-size: .7rem;
            font-weight: 400;
          }

          .created-at {
            font-size: .7rem;
            font-weight: 400;
          }

          display: flex;
          flex-direction: row;

          img {
            border-radius: 5px;
          }

          div {
            margin-left: 5px;
            display: flex;
            flex-direction: column;
          }
        }

        .icon-button {
          cursor: pointer;

          @include mobile {
            .icon-edit {
              display: none;
            }
          }

          .open {
            display: none;
            margin-bottom: 2px;
          }

          &:hover {
            .open {
              display: block;
            }

            .closed {
              display: none;
            }
          }
        }
      }


    }

  }
}

.pointer{
  cursor: pointer;
}